aiofiles==0.6.0
click==7.1.2
fastapi==0.61.1
h11==0.11.0
Jinja2==2.11.2
MarkupSafe==1.1.1
Pillow==8.3.2
pydantic== 1.10
pytesseract==0.3.6
python-multipart==0.0.5
six==1.15.0
starlette==0.13.6
typing-extensions==4.1.0
uvicorn==0.12.2
